#ignoring folders
env/
mysganpretrained/
pretrained_sgan/
scripts/model_tf/

#ignoring other files
.*pyc


#ignoring files
checkpoint_no_model.pt
checkpoint_with_model.pt
scripts/gan_test_no_model.pt
scripts/gan_test_with_model.pt

