#ignoring folders
env/
mysganpretrained/
pretrained_sgan/
model_tf/

#ignoring other files
**/__pycache__
.*pyc


#ignoring files
checkpoint_no_model.pt
checkpoint_with_model.pt
scripts/gan_test_no_model.pt
scripts/gan_test_with_model.pt

